Repository AOx0/adam, pull requests merged in 2024-11, with the labels that each got.

#56 Firewall persistent event logging
  Cargo.lock
  Cargo.toml
  firewall/Cargo.toml
  firewall/migrations/2024-10-24-213600_events/down.sql
  firewall/migrations/2024-10-24-213600_events/up.sql
  firewall/src/main.rs
Labels: firewall

#57 Event querying
  Cargo.lock
  controller/src/firewall/mod.rs
  firewall-common/Cargo.toml
  firewall-common/src/lib.rs
  firewall/src/main.rs
  message/Cargo.toml
  message/src/firewall.rs
  message/src/lib.rs
Labels: controller, firewall

#59 New `message::Log`; `front`: WebSocket listener
  Cargo.lock
  controller/Cargo.toml
  controller/src/firewall/mod.rs
  controller/src/htmx.rs
  firewall-common/src/lib.rs
  firewall/src/main.rs
  front/src/main.rs
  front/src/template.rs
  message/src/firewall.rs
  message/src/lib.rs
  netp/src/transport/tcp.rs
Labels: controller, firewall

#62 Random log div id
  Cargo.lock
  front/Cargo.toml
  front/src/main.rs
Labels: front

#61 🚀 feat(firewall): Add IP selection and dynamic status update
  Cargo.lock
  controller/Cargo.toml
  controller/src/main.rs
  front-components/src/lib.rs
  front/Cargo.toml
  front/src/main.rs
  front/src/sip.rs
  front/src/template.rs
  test.hurl
Labels: enhancement, front, maud

#63 20 debug tagged enums avoid error dropping
  controller/src/firewall/mod.rs
  firewall/src/main.rs
Labels: controller, firewall

#67 Persistent IP storage in front end with surrealdb
  Cargo.lock
  front-components/src/lib.rs
  front/Cargo.toml
  front/src/firewall.rs
  front/src/ips.rs
  front/src/main.rs
  front/src/sip.rs
  front/src/template.rs
  front/static/input.css
  front/static/moon.svg
  front/static/styles.css
  front/static/sun.svg
  justfile
  postcss.config.js
  tailwind.config.js
Labels: front

#74 8 threads, cranelift and lld
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  README.md
Labels: enhancement

#77 Update ci.yml
  .github/workflows/ci.yml
Labels: enhancement

#78 Setup CI/CD to produce binaries on release/tag
  .github/workflows/ci.yml
  xtask/src/build.rs
  xtask/src/build_ebpf.rs
Labels: enhancement, firewall

#85 Update ci.yml
  .github/workflows/ci.yml
Labels: enhancement

#79 Fix minor state issues with IPs
  front/src/ips.rs
Labels: enhancement, firewall

#87 🔧 feat(ci): Prepare and upload release binaries
  .github/workflows/ci.yml
Labels: bug, enhancement, firewall
