Repository AOx0/adam, pull requests merged in 2024-09, with the labels that each got.

#28 Fix: Update button status using new API implementation
  service-monitor/src/App.js
  service-monitor/src/WebSocketMessages.js
Labels: bug, enhancement

#31 Fix: Update add rule button, add delete rule button, and resolve CORS issues
  service-monitor/src/AddRuleFormModal.js
  service-monitor/src/App.css
  service-monitor/src/App.js
  service-monitor/src/ContactFormModal.js
  service-monitor/src/FirewallRules.js
Labels: bug, enhancement, firewall

#34 Include netp in workspace; implement tcp-ipv4-port matching
  Cargo.lock
  Cargo.toml
  firewall-common/Cargo.toml
  firewall-common/src/lib.rs
  firewall-ebpf/Cargo.lock
  firewall-ebpf/Cargo.toml
  firewall-ebpf/src/main.rs
  firewall/Cargo.toml
  firewall/src/main.rs
  netp/Cargo.toml
  netp/README.md
  netp/src/aya.rs
  netp/src/lib.rs
  netp/src/link/eth.rs
  netp/src/link/mod.rs
  netp/src/network/ipnum.rs
  netp/src/network/ipv4.rs
  netp/src/network/mod.rs
  netp/src/transport/mod.rs
  netp/src/transport/tcp.rs
  netp/src/transport/udp.rs
Labels: firewall

#37 firewall: Add persistent rules via diesel-async
  Cargo.lock
  Cargo.toml
  controller/Cargo.toml
  firewall/Cargo.toml
  firewall/build.rs
  firewall/migrations/2024-09-23-225819_create_rules/down.sql
  firewall/migrations/2024-09-23-225819_create_rules/up.sql
  firewall/src/main.rs
Labels: firewall

#40 Add name & description to rules
  controller/src/firewall/mod.rs
  controller/src/main.rs
  firewall-common/src/lib.rs
  firewall-ebpf/src/main.rs
  firewall/migrations/2024-09-23-225819_create_rules/up.sql
  firewall/src/main.rs
  message/src/lib.rs
  netp/src/network/ipv4.rs
  test.hurl
Labels: enhancement, firewall
